* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #080505;
  background-image:url(../../Downloads/word-cloud-background-concept-software-engineering-computer-programming-system-cloud-technology-development-application-management-vector-illustration_616200-3571.avif);
  line-height: 1.5;
}

header {
  background: #360486;
  color: #fff;
  padding: 10px 10px;
  text-align: center;
}

header h1 {
  margin-bottom: 10px;
  font-size: 2.5rem;
}

header p {
  font-size: 1.2rem;
}

nav ul {
  list-style: none;
  margin-top: 20px;
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: #ecf0f1;
  font-weight: bold;
}


.section-container{
  max-width: 1000px;
  margin: 40px auto;
  padding: 20px;
}
.section-container section{
  background-color: #ffffff;
  padding: 25px 30px;
  margin-bottom: 30px;
  border-radius: 10px;
}



section h2 {
  padding-left: 10px;
  margin-bottom: 15px;
  color: #360486;
}


section ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 20px;
}

section li {
  margin-bottom: 10px;
}

section h3 {
  margin-top: 10px;
  color: #360486;
}


section p a {
  color: #360486;
  text-decoration: none;
}

section p a:hover {
  text-decoration: underline;
}


footer {
  text-align: center;
  padding: 15px 0;
  margin-top: 40px;
  color: #777;
  font-size: 0.9rem;
}
